.App {
  text-align: center;
  padding: 1rem 1rem;
}

body {
  margin: 0;
  padding: 0;
  background-color: #1e1e24;
  color: #fff;
}

.rounded-image {
  width: 800px;
  height: 740px;  
  border-radius: 30px;
}

.description {
  background-color: #35353f; 
  padding: 2rem 1rem;
  border-radius: 25px;
  line-height: 1.6;
  margin: 2;
}

.title{
  font-size: 3rem;
  font-weight: bold;
  background: linear-gradient(90deg, #ff4e50, #f9d423);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
